@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Josefin+Sans:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #282828;
    background-color: #D9ABAB;
}

header {
    background: linear-gradient(to right, #c75b79b9, #a31341);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo {
    width:150px;
    height: auto;
}

nav ul {
    font-family: "Cinzel", serif;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: #000000;
    text-decoration: none;
}

.hero {
    
    background: url('hero.jpg') no-repeat center center/cover;
    text-align: center;
    color: #FFFFFF;
    padding: 5rem 1rem;
}

.hero h1 {
    
    font-family: "Cinzel", serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    color: black;
}

.hero P {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    color: #000000;
    padding-bottom: 1rem;
}

button {
    background-color: #FFD700;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.promociones-1{
    display: grid;
    grid-template-rows: 0.75fr 3fr 0.75fr;
    background-color: #F4D9D0;
    border: 1px solid #e0b8ab;
   padding-bottom: 1rem;
    width: 100%;
    height: 100%;
   
    
}

.title-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cinzel", serif;
}

.promocion-container-1{
    display: flex;
    height: 50vh;
    gap: 1rem;
}

.promocion-img-1{
    width: 80%;
    height: auto;
    margin: 0 auto;
    
    border-radius: 16px;
}



.container-description{
    display: flex;
    padding-top: 1.5rem;
    align-content: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
}

.promociones-2{
    display: grid;
    grid-template-rows: 0.75fr 3fr 0.75fr;
    background-color: #fefae0da;
    border: 1px solid #c7c4ae;
    width: 100%;
    height: 100%;
   
    
}

.title-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cinzel", serif;
}

.promocion-container-2{
    display: flex;
    height: 50vh;
    gap: 1rem;
}

.promocion-img-2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    
    border-radius: 16px;
}



.description-2{
    display: flex;
    padding-bottom: 0.5rem;
    align-content: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
}

.promociones, .suscripcion {
    padding: 2rem 1rem;
    text-align: center;
}

.promociones h2, .suscripcion h2 {
    font-family: 'Open Sans', sans-serif;
    color: #FF6F61;
}

.promocion {
    margin: 1rem 0;
}

.promocion img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #282828;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}


@media (min-width: 320px) and (max-width: 480px){}
@media (min-width: 481px) and (max-width: 768px){}
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){}
@media (min-width: 1025px) and (max-width: 1280px){}
@media (min-width: 1281px){}